<!DOCTYPE html>

<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/style.css">
  <title>Hub4U</title>
</head>
<body>

  {{{ body }}}

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


  <script src="/js/main.min.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDFJr1LUw65F-OCNZclcNqRJ6LMgsUmExo
&libraries=places&callback=initialize"></script>
  <!--<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyARiCYyTX3j7PTgUtZkWlVI6D9ImFL9YhA&libraries=places"></script>-->

</body>
</html>